body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(182, 181, 181);
}

.btn, .btn-dog {
  padding: 10px 20px;
  border-radius: 8px;
}

th,
tr,
td {
  border: 1px solid black;
  padding: 50px 100px;
}

h1 {
  color: rgb(36, 36, 118);
  font-size: 30px;
}

.btn-dog:hover {
cursor: pointer;
background-color: aquamarine;
}
